
.header-container {
  background-color: #FFFFFF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 2px solid #000000;
  }
  
.brand-logo {
  align-self: stretch;
  min-width: 240px;
  min-height: 48px;
  font: 42px/1 sans-serif;
  letter-spacing: -1.68px;
  margin: auto 0;
  }
  
.nav-links {
  align-self: stretch;
  z-index: 1;
  display: flex;
  min-width: 240px;
  align-items: center;
  gap: 32px;
  font: 28px/1 sans-serif;
  letter-spacing: -0.28px;
  margin: auto 0;
  }
  
.nav-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  }
  
.header-divider {
  aspect-ratio: 1000;
  object-fit: contain;
  object-position: center;
  width: calc(100% + 96px);
  align-self: start;
  position: absolute;
  z-index: 0;
  min-width: 240px;
  left: -48px;
  right: -48px;
  bottom: -1px;
  height: 0;
  }
  
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  }
  
@media (max-width: 991px) {
  .header-container,
  .brand-logo,
  .nav-links,
  .header-divider {
    max-width: 100%;
  }
  }




.archivo{
font-family: "Archivo", serif;
font-optical-sizing: auto;
font-weight: weight;
font-style: normal;
font-variation-settings:
  "wdth" 100;
  }

.dotgothic16-regular {
  font-family: "DotGothic16", serif;
  font-weight: 400;
  font-style: normal;
  }
  



  