.hero-section {
  background-color:#FFFFFF;
  display: flex;
  flex-direction: column;
  color: #000000;
  text-align: center;
  letter-spacing: -2.4px;
  justify-content: start;
  padding: 96px 0;
  font-family:  Helvetica, sans-serif;
  
  }

.hero-title {
  max-width: 100%;
  line-height: 1.05em;
  letter-spacing: -0.01em;
  font-size: 10em;
  
  }


  





.hero-image {
  object-fit: contain;
  object-position: center;
  width: 100%;
  background-blend-mode: normal;
  margin-top: 48px;
  }

@media (max-width: 991px) {
  .hero-section {
    font-size: 40px;
    line-height: 44px;
    }

  .hero-title {
    font-size: 40px;
    line-height: 44px;
    }

  .hero-image {
    margin-top: 40px;
  }
  }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  }

