.main3{
  width: 1344px;
  height: 452px;
  padding: 96px 0px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main3-text{
  width: 900px;
  height: 260px;
  font-weight: 400;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}